@import '../../theme.scss';

.header {
  &__toolbar {
    background-color: $header-background;
    justify-content: space-between;
    
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}